<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WikiLookup Chatbot</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.css'%}"
    />
  </head>
  <body>
    <h1>Welcome to WikiLookup Chatbot</h1>
    <p>Testing the chatbot</p>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
    <
  </body>
</html>
