{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="mt-5 center">Chat Bot</h1>

    {% if user.is_authenticated %}
      <div class="row justify-content-center">
        <div class="col-md-8">
          <form method="post" id="chat-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="question" class="center">Type your question: </label>
              <input
                type="text"
                class="form-control"
                name="question"
                id="question"
                autocomplete="off"
              />
            </div>
            <button type="submit" class="btn btn-primary center">Send</button>
          </form>
        </div>
      </div>

      {% if chatlogs %}
      <div class="row justify-content-center mt-5">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              Chat Logs
              <form method="post" action="{% url 'clear_chatlog' %}" class="float-right">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Clear Chat Log</button>
              </form>
            </div>
            <ul class="list-group list-group-flush">
              {% for log in chatlogs %}
              <li class="list-group-item">
                <strong>User:</strong> {{ log.user }}<br>
                <strong>Chatbot:</strong> {{ log.chatbot }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
    {% else %}
      <div class="alert alert-info" role="alert">
        Please log in to use the chatbot and view chat logs.
      </div>
    {% endif %}
  </div>
{% endblock %}
